html, body {
	margin:0;
	padding:0;
	height:100%;
	
	background:#C192E1;
	/*font-family: Arial, Helvetica, sans-serif;*/
}
#vessel {
	min-height:100%;
	position:relative;
}
#headertop {
	background-color:white;
	padding:0px;
}
#bodymid {
	background-color:#C192E1;
	padding:0px;  
	padding-bottom: 300px; /* Height of the footer */
}
#footer {
	position:absolute;
	bottom:0;
	width:100%;
	background-color:#a4d4cc;
	border-top: black solid 2px;
	text-align:center;
}

* {
	box-sizing: border-box;
}

/*********************************************************************************/
/* HEADER CONTAINER TYPE INFO -----------------------------------------------------*/
.flex-container-head {
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	text-align: center;
}

.flex-item-left-head {
	background-color: white;
	padding: 10px;
	flex: 20%;
	border-bottom: 2px solid black;
}

.flex-item-right-head {
	background-color: white;
	padding-top: 10px;
	flex: 80%;
	border-bottom: 2px solid black;
}


/*Body Section ----(use in About section)-------------------------------------------------*/
.flex-container-body {
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	text-align: left;
}

.flex-item-left-body {
	flex: 50%;
	margin: 0;
}

.flex-item-right-body {
	flex: 50%;
	margin: 0;
}


/* Navigation Menu ------------------------------------------------------------------------------*/
.topnav {
	overflow: hidden;
	background-color: white;
	padding-right: 60px;
}

.topnav a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 22px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}


/*Drop the Navigation Menu on button click for smaller screens---------------------------------*/
.navdrop {
	overflow: hidden;
	background-color: white;
	position: relative;
}

.navdrop #myLinks {
	display: none;
}

.navdrop a {
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	display: block;
	text-align: center;
	/*border: 2px solid black;*/
}


.navdrop a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}


.navdrop a:hover {
	background-color: #ddd;
	color: black;
}

/*style the menu button-------------------------------------------------------------------------*/
#menubut {
	width:25px;
	height:25px;
	padding-bottom: 10px;
}

/*Home intro and info*/
#homebox {
	text-align:left;
	/*padding: 40px;
	padding-top: 0px;*/
	border: solid black 4px;
	background-color:white;
	font-size: 50px;
}



/*YOUTUBE##############################################################*/
.youtube {
	background-color:#a1dad1;
	color:black;
	padding: 4px 4px; 
	text-decoration: none; 
	display: inline-block;
	border:solid white 4px;
}


a.youtube:hover{
	background-color:RGBA(161, 218, 230, .4);
	border:solid black 4px;
}



/* Home Screen Image Overlay ----------------------------------------------------------------------*/
.container {
	position: relative;
	width:100%;
	color: white;
	font-size: 20px;
}

.container img {
	max-width: 100%;
}

.container h3 {
	background-color: rgba(0,0,0,0.3)
	color: white;
	position: absolute;
	bottom: 0;
	right: 2px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}


/* Consultation Button ------------------------------------------------------------------------*/
.consultation-a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 22px;
	background-color: rgba(5,5,5,0.2);
	border-radius: 45px; 
}

/* BookHireCreate Section ------------------------------------------------------------------------*/
.BookHireCreate {
	width: 100%;
	background-color: #ebedef;
	display: grid;
	column-gap: 200px;
	grid-template-columns: auto auto auto;
	padding: 20px;
	grid-gap: 200px;
}

.BookHireCreate h4 {
	font-size: 35px;
	color: #008037;
}

.BookHireCreate button {
	font-size:16px;
	padding: 15px 20px;
	background-color: white;
	border: none;
	border-radius: 15px;
	color:black;
}

.BookHireCreate button:hover {
	background-color: lightgray;
}

.BookHireCreate div {
	padding-bottom: 30px;
}

#BHCdoula {
	width:100%; 
	background-color:white; 
	padding:40px 150px; 
	margin-top:-10px;
}

#BHCdoula p {
	width: 50%;
}

/***********************************SERVICE****************************************/
.rowservice {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 20px;
	margin-left: auto;
	margin-right: auto;
}

/* Creates 2 equal columns */
.columnservice {
	flex: 50%;
	max-width: 50%;
	padding: 0px 20px;

}

.columnservice h3 {
	background-color: black;
	border: solid black 3px;
	padding: 50px 5px;
	font-size: 25px;
	text-align:center;
}

.columnservice a {
	text-decoration: none;
	color: white;
}

.columnservice a:hover {
	color: #a4d4cc;
	background-color: #ddd;
}

.columnservice #myService1,#myService2,#myService3,#myService4,#myService5 {
	display: none;
	background-color: white;
	margin-top: -25px;
	padding: 0px;
}

#served {
	text-align: left;
	padding: 10px;
	margin:0px;
	font-size: 20px;
	border: dashed black 2px;
	border-top: none;
	border-bottom: none;
}

#servlist {
	text-align: left;
	border-bottom: dashed black 2px;
	border-right: dashed black 2px;
	border-left: dashed black 2px;
	border-top: none;
	list-style-image: url('images/favicon.png');
	list-style-position: inside;
	padding: 10px;
	margin-top: -5px;
}

/***************************SHOP*****************************************************************/
.rowshop {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 20px;
	margin-left: auto;
	margin-right: auto;
	
	text-align:center;
}

.columnshop {
	flex: 50%;
	max-width: 50%;
	padding: 20px 20px;
}

/* Shop Item Image Overlay -*/
.imgoverlay {
	position: relative;
	width:100%;
	color: white;
	font-size: 20px;
}

.imgoverlay img {
	max-width: 100%;
}

.imgoverlay h3{
	background-color: rgba(0,0,0,0.3)
	color: white;
	position: absolute;
	bottom: 0;
	right: 2px;
	padding:none;
}

.location {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, 50%)
}

/* Shop Now Buton link*/
.imgoverlaybtn {
	display: none;
	color: white;
	text-align: center;
	padding: 0px 20px;
	text-decoration: none;
	background-color: #a4d4cc;
	border: solid white 1px;
}


#shopnow {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	background-color: #a4d4cc;
	border: solid black 2px;
	padding: 10px;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#shopimg {
	width:400px;
	height:auto;
	box-shadow: 10px 10px 5px #262021;
}

#shoph2 {
	font-size: 40px;
	font-family: Helvetica;
	border-style: none none solid none;
	background:white;
	margin: 10px;
	text-align:center;
}

.shopanimate {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  background: black;
  margin-left: auto;
  margin-right: auto;
  border-bottom: black solid 2px;
  font-size: 25px;
  animation: fadeIn 3s infinite;
}

.shopanimate h1 {
	margin:0;
	padding:10px;
}


@keyframes fadeIn {
  0% {opacity: 0.95;background-color:black;}
  50% {opacity: 1;background-color:#a4d4cc;}
  100% {opacity: 0.95; background-color: black}

}

/*Contact*/
#blink {
	background-color: #a1dad1; 
	padding:2px;
	border:solid black 3px; 
	text-decoration:none; 
	color: black;
	animation: blinker 1s infinite;
}

@keyframes blinker {
  0% {opacity: 0.50;}
  50% {opacity: 1;background-color:#a4d4cc;}
  100% {opacity: 0.50;}

}


/*000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/* SHOP Create three unequal columns that floats next to each other */
.column2 {
	float: left;
	padding: 10px;
}

/* Left and right column */
.column2.side2 {
	width: 20%;
	
	text-align: center;
}

/* Middle column */
.column2.middle2 {
	width: 30%;
	
	text-align: center;
}

/* Clear floats after the columns */
.rows2:after {
	content: "";
	display: table;
	clear: both;
}



/*000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/* FAQS Create three unequal columns that floats next to each other */
.column3 {
	float: left;
	padding: 10px;
}

/* Left and right column */
.column3.side3 {
	width: 10%;
	
	text-align: center;
}

/* Middle column */
.column3.middle3 {
	width: 80%;
	text-align: left;
}

/* Clear floats after the columns */
.rows3:after {
	content: "";
	display: table;
	clear: both;
}


#question {
	padding: 20px;
	color: black;
	background-color:#a4d4cc;
	border: solid black 2px;
	border-radius: 20px;
}

#question a {
	text-decoration: none;
	color: black;
}

#answer,#answer1,#answer2,#answer3,#answer4,#answer5,#answer6,#answer7 {
	display: none;
	color: black;
	background-color: white;
	padding: 10px 20px 20px 20px;
	/*padding-bottom:20px;*/
	margin-top: -20px;
	text-align: left;
	border: solid black 2px;
	border-radius: 20px;
}

#faqlink {
	text-decoration:none;
	background-color:#a1dad1;
	color:black;
	border: solid black 2px;
}

/*000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/* Contact Create three unequal columns that floats next to each other */
.column4 {
	float: left;
	padding: 10px;
}

/* Left and right column */
.column4.side4 {
	width: 10%;
	
	text-align: center;
}

/* Middle column */
.column4.middle4 {
	width: 40%;
	text-align: center;
}

/* Clear floats after the columns */
.rows4:after {
	content: "";
	display: table;
	clear: both;
}

#contactform {
	font-size: 25px;
	padding: 50px 20px;
	background-color: #a1dad1;
	color:black;
	border: solid black 3px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1400px) {
	.column2.side2, .column2.middle2 {
		width: 100%;
	}
	
	#shopimg {
		width: 350px;
	}
}

@media screen and (max-width: 1200px) {
	.column3.side3, .column3.middle3 {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.column4.side4, .column4.middle4 {
		width: 100%;
	}
}

/*000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

/*------------------ RESPONSIVE FUNCTIONS----------------------------------------*/

@media (max-width: 800px) {
	/* Shop */
	.columnshop{
		flex: 100%;
		max-width: 100%;
	}	
	
	/* Services Flex */
	.columnservice {
		flex: 50%;
		max-width: 50%;
	}

}

/* Responsive Layout 2 column--*/
@media (max-width: 500px) {
	/* Service */
	.columnservice {
		flex: 100%;
		max-width: 100%;
	}

	.consultation-a {
		font-size:13px; 
	}
}

/* Responsive layout - makes a one column-layout instead of a two-column layout --------------*/
@media (max-width: 800px) {

	/* Body */
	.flex-item-right-body, .flex-item-left-body {
    	flex: 100%;
	}

	/* Nav Menu */	
	.topnav{
		display: none;
	}
}




@media (max-width: 450px) {
	iframe {
		width:300px;
		height:200px;
	}
	
	#shopimg {
		width: 300px;
	}
	
	#shoph2 {
		font-size: 25px;
	}
	
	.shopanimate h1{
		font-size: 20px;
	}
}

/*Alterations*/
#bodymid p {
	font-size: 20px;
}

#footer p{
	color: black;
}

#footer a {
	text-decoration: none;
	color: black;
}

#resourceDrop {
	display: none;
	font-size: 14px;
}

#resourceDrop a {
	font-size: 16px;
	text-align:left;
	margin-left: 45%;
}

#resourceForm {
	background-color:black;
	border:none;
	color:white;
	padding:30px 30px;
	font-size:20px;
	cursor: pointer;
	margin-top:5px;
	margin: 40px 0px;
	max-width:500px;
	width:100%;
}


.smallscreenlogo {
    margin-left: auto;
    margin-right: auto;
	width: 200px;
	height: 80px;
	display: block;
}


.dropbtn {
	border: none;
	font-size: 24px;
	color: black;
	background: none;
	font-family: inherit;
}

.dropdown {
  cursor: pointer;
  font-size: 22px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 15%;
  font-size: 18px;
  margin-left:1400px; /*distance for drop down menu from left side;;; match with "Resources"*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/* Section to allow logo and navigation bar to be on the same horizontal line */
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 100px; /* change it to desired width */
    background-color: white; /* change to desired color */
    
	overflow: hidden;
	background-color: white;
	font-size: 24px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 80px;
    margin-left: 100px;
    margin-right: 800px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 100px;    /* if you want it vertically middle of the navbar */
    
    text-decoration: none;
    color: black;
}

.navigation-bar a:hover {
	/*font-size:24px;*/
	border-bottom: solid gray 5px;
}

/* Responsive Nav Bar depending on screen size */
@media (max-width: 1800px) {
	.logo {
		margin-right: 600px;
	}
	
	.dropdown-content {
		margin-left: 1200px;
	}
}

@media (max-width: 1600px) {
	.logo {
		margin-right: 500px;
	}
	
	.dropdown-content {
		margin-left: 1100px;
		width: 20%;
	}
}

@media (max-width: 1500px) {
	.logo {
		margin-right: 400px;
	}

	.dropdown-content {
		margin-left: 1000px;
	}
}

@media (max-width: 1400px) {
	.logo {
		margin-right: 300px;
	}

	.dropdown-content {
		margin-left: 900px;
	}
}

@media (max-width: 1300px) {
	.logo {
		margin-right: 200px;
		margin-left: 50px;
	}
	
	.dropdown-content {
		margin-left: 750px;
	}
}

@media (max-width: 1200px) {
	.logo {
		margin-right: 150px;
		margin-left: 20px;
	}
	
	.dropdown-content {
		margin-left: 680px;
	}
}

@media (max-width: 1100px) {
	.navigation-bar {
		margin-right: 0px;
	}

	.logo {
		margin-right: 20px;
	}

	.dropdown-content {
		margin-left: 550px;
	}
}


@media (max-width: 1000px) { /*Switch to mobile orientation*/
	.logo {
		display: none;
	}

	.navigation-bar {
		display: none;
		height: 0px;
		width: 0px;
	}

	.BookHireCreate {
		column-gap: 10px;
		grid-template-columns: auto auto auto;
	}

	#BHCdoula {
		width: 100%;
		padding: 40px 30px;
	}

	#BHCdoula p {
		width: 100%;
	}
}

/* Hide menu icon until screen small enough -------*/
@media (min-width: 1000px) {
	#test {
		display: none;
	}
	
	.smallscreenlogo {
		display: none;
	}

}
/*ADD TO CSS*/
#dirText{
    word-wrap: break-word;
}

/*ADD TO CSS*/
@media screen and (max-width: 800px) {
    #dirText {
        font-size: 14px;
    }
}
/*ADD TO CSS*/
@media screen and (max-width: 600px) {
    #dirText {
        font-size: 12px;
    }
}